@model ReservationViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EventFlow</h1>
    <p>Plan and manage your events seamlessly</p>
</div>

<div id="event-actions" class="text-center">
    <button onclick="viewAllEvents(1)">View All Events</button>
    <button onclick="createReservation()">Create a Reservation</button>
    <button onclick="viewMyReservations(1)">My Reservations</button>

    
</div>

<div id="content" class="mt-4"></div>

<!-- Link to site.js -->
<script src="js/site.js"></script>